.bg-polka {
    background-color: #ffffff;
    opacity: 1;
    background-image:  radial-gradient(#000000 1.2000000000000002px, transparent 1.2000000000000002px), radial-gradient(#000000 1.2000000000000002px, #ffffff 1.2000000000000002px);
    background-size: 48px 48px;
    background-position: 0 0,24px 24px;
}